@import '../sass/mixins.scss';

.menuItems{

  @include r(pc) {
    width: 100vw;
  }

  &__back {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  cursor: pointer;

  @include r(pc) {
    display: none;
  }

  button {
    margin: 0rem auto;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1rem 2rem;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    }
  }

  &__list {
    padding: 2.5rem 2rem;

    @include r(pc) {
      display: flex;
      justify-content: space-between;
    }

    &-item {
      margin: 2rem 0rem;
      font-size: 1.6rem;
      display: flex;
      flex-direction: row;
      align-items: center;

      @include r(pc) {
        justify-content: baseline;
        flex-direction: column;
        font-size: 1.2rem;
        width: 10rem;
        margin: 0;
      }

      img {
        border-radius: 50%;
        width: 6.5rem;
        height: 6.5rem;
        margin-right: 1rem;

        @include r(pc) {
          margin-right: 0;
        }
      }

      p {
        font-weight: bold;
        
        @include r(pc) {
          text-align: center;
          margin-top: 1rem;
        }
      }
    }
  }

  &__onlineStore {
    padding: 4rem 2rem;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;

    @include r(pc) {
      flex-direction: row;
    }
    
    &-heading {
      margin-bottom: 3rem;

      @include r(pc) {
        font-size: 1.2rem;
        width: 16rem;
        display: flex;
        flex-direction: column;
        text-align: end;
        margin-bottom: 0rem;
        margin-right: 3rem;
        letter-spacing: .2rem;
      }

      span {
        margin-right: 1rem;
        color: grey;

        &:nth-child(1) {
          font-weight: 900;
        }

        &:nth-child(2) {
          font-weight: 100;
        }

        @include r(pc) {
          margin-right: 0rem;
          line-height: 1.75;
        }
      }
    }

    &-items {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include r(pc) {
        flex-direction: row;
        margin: 0rem auto;
      }

      &-item {
        display: flex;
        align-items: flex-start;
        max-width: 26rem;

        img {
          margin-right: 1rem;
          border-radius: 20%;
          width: 6.5rem;
          height: 6.5rem;

          @include r(pc) {
            width: 7rem;
            height: 7rem;
          }
        }

        p{
          font-size: 1.3rem;
        }

        span {
          display: block;
          font-weight: 700;
        }
      }
    }
  }

  &__footer {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0rem 5rem 2rem;

    @include r(pc) {
      flex-direction: row;
      gap: 5rem;
      justify-content: center;
    }
  }
}

