@import '../sass/mixins.scss';

.navbar {
  width: 100vw;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 999998;

  @include r(pc) {
    padding: 2rem 0rem 2rem 4rem;
  }

  &__left {
    display: flex;
    align-items: center;

    button:hover {
      color: #00754a;
    }

    button.active {
      color: #00754a;
    }
  }

  &__link {
    display: none;

    button {
      font-weight: bold;
      letter-spacing: .2rem;
      font-size: 1.2rem;
      margin-left: 4rem;
    }

    @include r(pc) {
      display: flex;
    }

  }


  &__pc {
    display: none;

    @include r(pc) {
      display: flex;
      align-items: center;
    }

    svg {
      cursor: pointer;
      margin-right: 3rem;
    }

    img {
      cursor: pointer;
    }

    &-stories {
      width: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-reserve {
      width: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  &__logo {
    img {
      width: 4rem;
      height: 4rem;
    }
  }

  &__phone-tablet {
    display: flex;
    align-items: center;

    @include r(pc) {
      display: none;
    }
  }

  &__hamburger {
    cursor: pointer;
  }
}

aside {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80vw;
  height: calc(100% - 68px);
  background: white;
  transition: all .4s;
  transform: translateX(100%);
  z-index: 0;

  &.active {
    transform: translateX(0);
  }
}

.navbar__menu {
  position: absolute;
  top: 7.5rem;
  left: 0;
  background: white;
  height: 0px;
  transition: height .3s ease;
  overflow: hidden;
  
  &.active {
    height: 500px;
  }
}

.navbar__service {
  position: absolute;
  top: 7.5rem;
  left: 0;
  background: white;
  height: 0px;
  transition: height .3s ease;
  overflow: hidden;
  
  &.active {
    height: 540px;
  }
}