@import './sass/mixins.scss';

//font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  font-size: 62.5%; //1rem=1px
  font-family: 'Noto Sans JP', sans-serif;

  @include r(pc) {
    font-size: 75%;
  }

}

body {
  box-sizing: border-box; 
  line-height: 2.4rem;
  overflow-x: hidden;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

svg {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
 text-decoration: none;
 color: black;
}

.line-gray {
  height: 8px;
  background-color: rgba(0, 0, 0, 0.1);
}